<?xml version="1.0" encoding="gb2312"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd" >
<beans>
    <bean id="employeeDao" class="com.saille.sys.dao.EmployeeDao">
        <property name="dataSource">
            <ref bean="mysql_ds"/>
        </property>
    </bean>
    <bean id="positionDao" class="com.saille.sys.dao.PositionDao">
        <property name="dataSource">
            <ref bean="mysql_ds"/>
        </property>
    </bean>
    <bean id="resourceDao" class="com.saille.sys.dao.ResourceDao">
        <property name="dataSource">
            <ref bean="mysql_ds"/>
        </property>
    </bean>
    <bean id="rightDao" class="com.saille.sys.dao.RightDao">
        <property name="dataSource">
            <ref bean="mysql_ds"/>
        </property>
    </bean>
    <bean id="empPositionDao" class="com.saille.sys.dao.EmpPositionDao">
        <property name="dataSource">
            <ref bean="mysql_ds"/>
        </property>
    </bean>
    <bean id="settingDao" class="com.saille.sys.dao.SettingDao">
        <property name="dataSource">
            <ref bean="mysql_ds"/>
        </property>
    </bean>
</beans>
