<?xml version="1.0" encoding="gb2312"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd" >
<beans>
    <bean id="yssyService" class="com.saille.bbs.yssy.service.YssyService">
        <property name="boardDao">
            <ref local="boardDao"/>
        </property>
        <property name="boardRecordDao">
            <ref local="boardRecordDao"/>
        </property>
    </bean>

    <bean id="boardDao" class="com.saille.bbs.yssy.dao.generic.BoardDaoImpl">
        <property name="sessionFactory">
            <ref bean="dbSessionFactory3"/>
        </property>
    </bean>

    <bean id="boardRecordDao" class="com.saille.bbs.yssy.dao.generic.BoardRecordDaoImpl">
        <property name="sessionFactory">
            <ref bean="dbSessionFactory3"/>
        </property>
    </bean>

    <!--<bean id="gidService" class="com.saille.bbs.yssy.service.YssyGIDService" destroy-method="destroy"/>-->
</beans>